<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Nuevos Franquiciatarios Microtec</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="vendors/feather/feather.css">
  <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" type="text/css" href="vendors/DataTables/datatables.min.css"/>
  <!-- <link rel="stylesheet" href="vendors/datatables.net-bs4/dataTables.bootstrap4.css"> -->
  <!-- <link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css"> -->
  <!-- <link rel="stylesheet" type="text/css" href="js/select.dataTables.min.css"> -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="assets/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="assets/images/favicon.png" />
</head>
<body class="">
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo text-warning" href="index.html">Franquicias <span class="small text-white brand-sec">Administrar</span></a>
        <a class="navbar-brand brand-logo-mini" href="index.html">F</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block"></li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown px-3">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-bell mx-0"></i>
              <span class="count bg-danger" ></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Tienes notificaciones nuevas</p>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-warning">
                    <i class="ti-info-alt mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Tu próximo depósito esta por vencer</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                    6:30pm
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-check mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Tu depósito con fecha 15-07-2021 fué acreditado</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                     12:03pm
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-check mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Tu depósito con fecha 30-06-2021 fué acreditado</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                     11:20am
                  </p>
                </div>
              </a>
              <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                  <div class="preview-icon bg-success">
                    <i class="ti-check mx-0"></i>
                  </div>
                </div>
                <div class="preview-item-content">
                  <h6 class="preview-subject font-weight-normal">Tu depósito con fecha 15-05-2021 fué acreditado</h6>
                  <p class="font-weight-light small-text mb-0 text-muted">
                     10:30am
                  </p>
                </div>
              </a>
            </div>
          </li>
          <li class="nav-item nav-profile dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
              <img src="assets/images/home/profile.jpg" alt="profile"/>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
              <a class="dropdown-item"> <i class="ti-unlock text-primary"></i>
                Cambiar Contraseña
              </a>
              <a class="dropdown-item">
                <i class="ti-power-off text-primary"></i>
                Cerrar Sesión
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="administrar.html">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Inicio</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link pageto" href="views/admin/lista-solicitudes.html">
              <i class="ti-write menu-icon"></i>
              <span class="menu-title">Lista de Solicitudes</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div id="change-content" class="main-panel">


  <div class="row title-wrapper">
    <div class="col-12 col-xl-8 mb-4 mb-xl-0 grid-margin">
      <h3 class="font-weight-bold mb-0">Solicitud de Sucursal</h3>
    </div>
  </div>
  <div class="content-wrapper register-ps">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="container pt-4 navssm">
          <nav class="navssm__sem">
            <div class="nav nav-tabs nav-pills" id="nav-tab" role="tablist">
              <a class="nav-link active" id="nav-ipersonal-tab" data-toggle="tab" href="#nav-ipersonal" role="tab" aria-controls="nav-ipersonal" aria-selected="true">Inf. Personal</a>
              <a class="nav-link" id="nav-inegocioub-tab" data-toggle="tab" href="#nav-inegocioub" role="tab" aria-controls="nav-inegocioub" aria-selected="false">Inf. Negocio y Ubicación</a>
              <a class="nav-link" id="nav-ifranq-tab" data-toggle="tab" href="#nav-ifranq" role="tab" aria-controls="nav-ifranq" aria-selected="false">Inf. Franquicia</a>
              <a class="nav-link" id="nav-descLimi-tab" data-toggle="tab" href="#nav-descLimi" role="tab" aria-controls="nav-descLimi" aria-selected="false">Descuentos / Límites</a>
              <a class="nav-link" id="nav-fotosp-tab" data-toggle="tab" href="#nav-fotosp" role="tab" aria-controls="nav-fotosp" aria-selected="false">Fotos Perfil/Franquicias</a>
              <a class="nav-link" id="nav-docum-tab" data-toggle="tab" href="#nav-docum" role="tab" aria-controls="nav-docum" aria-selected="false">Documentación</a>
              <a class="nav-link" id="nav-gastosf-tab" data-toggle="tab" href="#nav-gastosf" role="tab" aria-controls="nav-gastosf" aria-selected="false">Gastos Fijos</a>
            </div>
          </nav>
          <div class="tab-content navssm__content pt-2 disable-form" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-ipersonal" role="tabpanel" aria-labelledby="nav-ipersonal-tab">
              <div class="card-step">
                <h2>Información Personal</h2>
                <div class="disable" id="formulario">
                  <div class="card">
                    <div class="card-header">Datos Personales</div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                            <label>Nombre:</label><span class="requered_class">*</span>
                            <input class="form-control input-sm notEmpty" onkeypress="return soloLetras(event)" type="text" placeholder="Nombre (s)" name="nombre" id="nombre" value="Jacinto" readonly>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                            <label>A. Paterno:</label><span class="requered_class">*</span>
                            <input class="form-control input-sm notEmpty" onkeypress="return soloLetras(event)" type="text" placeholder="Apellido paterno" name="apaterno" id="apaterno" readonly>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                            <label>A. Materno:</label><span class="requered_class">*</span>
                            <input class="form-control input-sm notEmpty" onkeypress="return soloLetras(event)" type="text" placeholder="Apellido materno" name="amaterno" id="amaterno" readonly>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                            <label>Tel Celular:</label><span class="requered_class">*</span>
                            <input class="form-control input-sm istel" onKeyPress="return soloNum(event)" type="text" placeholder="Celular a 10 digitos obligatorio" name="cel" id="cel" maxlength="10" minlength="10" readonly>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                            <label>Tel Casa:</label>
                            <input class="form-control input-sm " onKeyPress="return soloNum(event)" type="text" placeholder="Número a 10 digitos obligatorio" name="tel" id="tel" maxlength="10" minlength="10" readonly>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                            <label>E-mail:</label><span class="requered_class">*</span>
                            <input class="form-control input-sm notEmpty" type="text" placeholder="E-mail" name="email" id="email" readonly>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                          <div class="form-group">
                            <label>RFC (Solo Si Requiere Factura):</label>
                            <input class="form-control input-sm " maxlength="13" minlength="13" type="text" placeholder="RFC" onchange="ValidaRfc(this.value)" name="rfc" id="rfc" readonly>
                            <label id="errfc"></label>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
            <div class="tab-pane fade" id="nav-inegocioub" role="tabpanel" aria-labelledby="nav-inegocioub-tab">
              <div class="card card-step bg-transparent">
                <h2>Información del Negocio y Ubicación</h2>
                <div class="card-header">Datos del Negocio</div>
                <div class="card-body mb-3 bg-white">
                  <div class="row">
                    <div class="col-md-8 col-sm-8 form-group">
                      <label>Nombre del Negocio:</label><span class="requered_class">*</span>
                      <input class="form-control input-sm notEmpty" type="text" placeholder="Nombre del Negocio" name="nnego" id="nnego" required>
                    </div>
                  </div>

                  <div id="mapInfo">
                    <div class="form-row d-none">
                        <div class="form-group col-md-12">
                            <label>¿Conoces el código postal del punto de venta?</label>
                        </div>
                        <div class="form-group col-md-5 text-center">
                            <label class="radio-inline"><input class="radio-check" type="radio" name="knowCP" value="si" required/> Si</label>

                            <label class="radio-inline ml-4"><input class="radio-check" type="radio" name="knowCP" value="no" required/> No</label>
                        </div>
                    </div>
                    <div class="form-row" id="localizar" hidden="true">
                        <div class="form-group col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="" name="address"
                                       id="address">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary borderl-0 " type="button" id="searchLocation">
                                        <i class="fas fa-map-marked-alt"></i> Localizar en Maps
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row d-none">
                        <div class="form-group col-md-12">
                            <select name="opcionesDireccion" id="opcionesDireccion" class="form-control">

                            </select>
                        </div>
                    </div>
                    <div class="row" id="inputsAddress">
                        <div class="col-md-4 col-sm-6">
                            <label>Estado:<span class="required">*</span></label>
                            <input type="text" name="edo" id="edo" class="form-control" placeholder="Entidad Federativa" readonly/>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <label>Municipio:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="muni" id="muni" placeholder="Municipio" readonly />
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <label>Ciudad:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="cd" id="cd" placeholder="Ciudad" readonly/>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <label>Colonia:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="col" id="col" placeholder="Colonia" readonly>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <label>Cod. Postal:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="cp" id="cp" maxlength="5" minlength="5" placeholder="Código Postal" onKeyPress="return soloNum(event)" readonly/>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <label>Calle:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="calle" id="calle" placeholder="Calle" readonly/>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <label>Num. Exterior:<span class="required">*</span></label>
                            <input type="text" class="form-control" name="next" id="next" placeholder="Num. Exterior" readonly/>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <label>Num. Interior:</label>
                            <input type="text" class="form-control" name="nint" id="nint" placeholder="Num. Interior" readonly>
                        </div>

                        <div class="col-md-4 col-sm-6 ">
                          <label>Entre calle:<span class="txr">*</span>
                          </label>
                          <input type="text" class="form-control input-sm notEmpty" name="ecalle" id="ecalle" placeholder="Primer calle" readonly>
                        </div>
                        <div class="col-md-4 col-sm-6 ">
                          <label>Y Calle:<span class="txr">*</span>
                          </label>
                          <input type="text" class="form-control input-sm notEmpty" name="ycalle" id="ycalle" placeholder="Segunda calle" readonly>
                        </div>
                    </div>
                    <div class="row hide text-center">
                        <div class="col-lg-12">
                            <div class="alert alert-info mt-3">
                                El marcador es arrastrable para poder darle mayor precisión de la ubicación
                            </div>
                        </div>
                        <div class="col-md-12 mt-3" id="map" style="height: 20rem;"></div>
                    </div>
                    
                  </div>

                </div>
              </div>    
            </div>
            <div class="tab-pane fade" id="nav-ifranq" role="tabpanel" aria-labelledby="nav-ifranq-tab">
              <div class="card card-step bg-transparent">
                <h2>Información de la franquicia</h2>
                <div class="card-header">Tipo Franquicia</div>
                <div class="card-body bg-white">
                  <div class="form-group row align-items-center">
                    <label class="col-md-2 col-form-label">Tipo de tienda:</label>
                    <div class="col-md-9">
                      <div class="radio">
                        <input label="Express" type="radio" id="male" name="tipFranquicia" value="1" checked>
                        <input label="Oro" type="radio" id="female" name="tipFranquicia" value="2">
                        <input label="Platinum" type="radio" id="female" name="tipFranquicia" value="3">
                        <input label="Diamante" type="radio" id="female" name="tipFranquicia" value="4">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-header">Datos del registro</div>
                <div class="card-body bg-white">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label>Fecha:<span class="txr">*</span>
                      </label>
                      <input type="text" class="form-control input-sm notEmpty" name="datereg" id="datereg" placeholder="21-06-21" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Nombre del asesor que realizó el registro:<span class="txr">*</span>
                      </label>
                      <input type="text" class="form-control input-sm notEmpty" name="nomases" id="nomases" placeholder="Asesor ausente" readonly>
                    </div>
                  </div>
                </div>
                <div class="card-header">Datos Inversión</div>
                <div class="card-body bg-white">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label>Remodelación:<span class="txr">*</span>
                      </label>
                      <input type="text" class="form-control input-sm notEmpty" name="remod" id="remod" value="$00.00" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Equipamiento:<span class="txr">*</span>
                      </label>
                      <input type="text" class="form-control input-sm notEmpty" name="equip" id="equip" value="$00.00" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Gastos administrativos:<span class="txr">*</span>
                      </label>
                      <input type="text" class="form-control input-sm notEmpty" name="gadmin" id="gadmin" value="$00.00" readonly>
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Inventario inicial:<span class="txr">*</span>
                      </label>
                      <input type="text" class="form-control input-sm notEmpty" name="invini" id="invini" value="$00.00" readonly>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
            <div class="tab-pane fade" id="nav-descLimi" role="tabpanel" aria-labelledby="nav-descLimi-tab">
              <div class="card card-step bg-transparent">
                <h2>Descuentos y límites autorizados</h2>
                <div class="card-header">Descuentos y límites autorizados</div>
                <div class="alert alert-warning mt-3" role="alert">
                  Pendiente de autorizar <a href="#" class="alert-link">Desde: 12-07-2021</a>.
                </div>
                <div class="card-body bg-white">

                  <div id="formEditarLim">
                    <input type="text" class="form-control" id="codigo_dis_lim" name="codigo_dis_lim" hidden>
                    <div class="form-row">
                      <div class="col-md-12 card--inverse-s">
                        <h5 class="text-center">Tiempo Aire</h5>
                        <div class="row mt-2">
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>Telcel:</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">%</span>
                              </div>
                              <input type="text" class="form-control input-sm" name="telcel" id="telcel" value="" pattern="\d+(\.\d+)?" readonly>
                            </div>
                          </div>
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>Movistar:</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">%</span>
                              </div>
                              <input type="text" class="form-control input-sm" name="movistar" id="movistar" value="" pattern="\d+(\.\d+)?" readonly>
                            </div>
                          </div>
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>Unefon:</label>          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">%</span>
                              </div>
                              <input type="text" class="form-control input-sm" name="unefon" id="unefon" value="" pattern="\d+(\.\d+)?" readonly>
                            </div>
                          </div>
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>AT&T:</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">%</span>
                              </div>
                              <input type="text" class="form-control input-sm" name="att" id="att" value="" pattern="\d+(\.\d+)?" readonly>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 card--inverse-w">
                        <h5 class="text-center">Pago de Servicios</h5>
                        <div class="row mt-2">
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>Cargo x servicio:</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                              </div>
                              <input type="text" class="form-control input-sm" name="cargo" id="cargo" value="cargo x servicio" pattern="\d+(\.\d+)?" readonly>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 card--inverse-s">
                        <h5 class="text-center">Lista de precio para Equipos</h5>
                        <div class="row mt-2">
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>Precio mayoreo:</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Lista</span>
                              </div>
                              <select class="custom-select" id="equipos_pm" name='equipos_pm' readonly>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 card--inverse-w">
                        <h5 class="text-center">Lista de precio para Accesorios</h5>
                        <div class="row mt-2">
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>Precio mayoreo:</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Mayoreo</span>
                              </div>
                              <select class="custom-select" id="acc_pm" name='acc_pm' readonly>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 card--inverse-s">
                        <h5 class="text-center">Venta de Chip 50</h5>
                        <div class="row mt-2">
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>Costo:</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                              </div>
                              <input type="text" class="form-control input-sm" name="chips" id="chips" value="Costo" pattern="\d+(\.\d+)?" readonly>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12 card--inverse-w">
                        <h5 class="text-center">Cargos</h5>
                        <div class="row mt-2">
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>TAF:</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                              </div>
                              <input type="text" class="form-control input-sm" name="cargo_taf" id="cargo_taf" value="Costo" pattern="\d+(\.\d+)?" readonly>
                            </div>
                          </div>
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>Portabilidad:</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                              </div>
                              <input type="text" class="form-control input-sm" name="cargo_porta" id="cargo_porta" value="Costo" pattern="\d+(\.\d+)?" readonly>
                            </div>
                          </div>
                          <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label>Recuperación:</label>
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                              </div>
                              <input type="text" class="form-control input-sm" name="cargo_rec" id="cargo_rec" value="Costo" pattern="\d+(\.\d+)?" readonly>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-fotosp" role="tabpanel" aria-labelledby="nav-fotosp-tab">
              <div class="card card-step bg-transparent">
                <h2>Fotos de Perfil y Franquicia</h2>
                <div class="card-header">Foto de perfil</div>
                <div class="card-body bg-white">
                  <div class="form-group row">
                    <div class="col-md-8">
                      <label for=""> &#8212; Adjunta tu Foto</label>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 cust-badge">
                      <div class="badge badge-primary">MiFoto.jpg</div>
                    </div>
                  </div>
                </div>
                <div class="card-header">Fotografías del local</div>
                <div class="card-body bg-white">
                  <div class="form-group row">
                    <div class="col-md-8">
                      <label for=""> &#8212; <strong>Foto Frontal</strong>: frente de la fachada del local con periódico del día</label>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 cust-badge">
                      <div class="badge badge-primary">localFrente.jpg</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-8">
                      <label for=""> &#8212; <strong>Foto Lateral Derecha</strong>: Fotografías donde pararezca el local y se vea el resto de la calle derecha</label>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile02" aria-describedby="inputGroupFileAddon02">
                          <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 cust-badge">
                      <div class="badge badge-primary">localLateralDerecha.jpg</div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-8">
                      <label for=""> &#8212; <strong>Foto Lateral Izquierda</strong>: Fotografías donde pararezca el local y se vea el resto de la calle izquiera</label>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03">
                          <label class="custom-file-label" for="inputGroupFile03">Choose file</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 cust-badge">
                      <div class="badge badge-primary">localLateralIzq.jpg</div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="" class="btn btn-primary">Guardar cambios</button>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-docum" role="tabpanel" aria-labelledby="nav-docum-tab">
              <div class="card card-step bg-transparent">
                <h2>Documentación a Anexar</h2>
                <div class="card-header">Documentos</div>
                <div class="card-body bg-white">
                  <div class="row">
                    <div class="col-12">
                      <div class="card-body">
                        <h4 class="card-title">Lista de Documentación</h4>
                        <div class="list-wrapper">
                          <ul class="d-flex flex-column todo-list doc-list">
                            <li>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="checkbox" type="checkbox">Identificación oficial vigente  <i class="input-helper"></i>
                                </label>
                              </div>
                            </li>
                            <li class="completed">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="checkbox" type="checkbox" checked="">Comprobante de domicilio del local donde estará ubicado el PDV: antigüedad no mayor a 3 meses.  <i class="input-helper"></i>
                                </label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="checkbox" type="checkbox">Comprobante de domicilio particular (antigüedad no mayor a 3 meses luz, agua, etc).  <i class="input-helper"></i>
                                </label>
                              </div>
                            </li>
                            <li class="completed">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="checkbox" type="checkbox" checked="checked">Cuenta bancaria a nombre del franquiciatario y carátula del estado de cuenta.  <i class="input-helper"></i>
                                </label>
                              </div>
                            </li>
                            <li class="completed">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="checkbox" type="checkbox" checked="">RFC (Registro Federal de Contribuyentes) <i class="input-helper"></i>
                                </label>
                              </div>
                            </li>
                            <li>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="checkbox" type="checkbox"checked="">Boucher de depósito o comprobante de transferencia <i class="input-helper"></i>
                                </label>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="" class="btn btn-primary">Guardar cambios</button>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-gastosf" role="tabpanel" aria-labelledby="nav-gastosf-tab">
              <div class="card card-step bg-transparent">
                <h2>Gastos fijos</h2>
                <div class="card-header">Gastos fijos</div>
                <div class="card-body bg-white">
                  <h4 class="card-title">Detalle de Gastos Fijos</h4>
                  <p class="card-description small">
                    COMENTARIOS <span class="text-primary">COMENTARIOS RESPECTO DE LAS CONDICIONES ACTUALES DE LOS SERVICIOS</span>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            SERVICIO
                          </th>
                          <th>
                            ESTADO ACTUAL
                          </th>
                          <th>
                            DADO DE ALTA A NOMBRE DE
                          </th>
                          <th>
                            GASTO MENSUAL
                          </th>
                          <th>
                            COMENTARIOS
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th class="py-1">
                            LUZ
                          </th>
                          <td>
                            Suspendido
                          </td>
                          <td>

                          </td>
                          <td>
                            $ 250.00
                          </td>
                          <td>
                            En proceso de activación
                          </td>
                        </tr>
                        <tr>
                          <th class="py-1">
                            AGUA
                          </th>
                          <td>
                            Suspendido
                          </td>
                          <td>
                          </td>
                          <td>
                            $ 400.00
                          </td>
                          <td>
                            Sin comentarios
                          </td>
                        </tr>
                        <tr>
                          <th class="py-1">
                            TELÉFONO FIJO
                          </th>
                          <td>
                            Activo
                          </td>
                          <td>
                          </td>
                          <td>
                            $ 500.00
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th class="py-1">
                            CELULAR
                          </th>
                          <td>
                            Activo
                          </td>
                          <td>
                          </td>
                          <td>
                            $ 400.00
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th class="py-1">
                            RENTA
                          </th>
                          <td>
                            Activo
                          </td>
                          <td>
                          </td>
                          <td>
                            $ 1400, 000.00
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th class="py-1">
                            GERENTE
                          </th>
                          <td>
                            Activo
                          </td>
                          <td>
                          </td>
                          <td>
                            $ 5,500.00
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th class="py-1">
                            ENCARGADOS
                          </th>
                          <td>
                            Activo
                          </td>
                          <td>
                          </td>
                          <td>
                            $ 4,400.00
                          </td>
                          <td></td>
                        </tr>
                        <tr>
                          <th class="py-1">
                            OTROS GASTOS
                          </th>
                          <td>
                            Activo
                          </td>
                          <td>
                          </td>
                          <td>
                            $ 400.00
                          </td>
                          <td></td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th class="py-1" colspan="4">
                            TOTAL
                          </th>
                          <th>$25,750.00</th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <button type="" class="btn btn-primary">Guardar cambios</button>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>

  </div>


        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between"> <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021  Microtecnologías Móviles S.A. de C.V.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="vendors/js/vendor.bundle.base.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDciw1GU7AFDx3gQydToRyPi3oehMwWpDk"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script type="text/javascript" src="vendors/DataTables/datatables.min.js"></script>
  <!-- <script src="vendors/chart.js/Chart.min.js"></script> -->
<!--   <script src="vendors/datatables.net/jquery.dataTables.js"></script>
  <script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
  <script src="assets/js/dataTables.select.min.js"></script> -->

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="assets/js/off-canvas.js"></script>
  <script src="assets/js/hoverable-collapse.js"></script>
  <script src="assets/js/template.js"></script>
  <!-- <script src="assets/js/settings.js"></script> -->
  <script src="assets/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- <script src="assets/js/dashboard.js"></script> -->
  <!-- <script src="assets/js/Chart.roundedBarCharts.js"></script> -->
  <script src="assets/js/init.js"></script>
  <!-- End custom js for this page-->

<script>
  $(document).ready(function () {
    var current = 1,
      current_step, next_step, steps;
    steps = $(".card-step").length;
    $(".next").click(function () {
      current_step = $(this).parent();
      next_step = $(this).parent().next();
      next_step.show();
      current_step.hide();
      setProgressBar(++current);
    });
    $(".previous").click(function () {
      current_step = $(this).parent();
      next_step = $(this).parent().prev();
      next_step.show();
      current_step.hide();
      setProgressBar(--current);
    });
    setProgressBar(current);
    // Change progress bar action
    function setProgressBar(curStep) {
      var percent = parseFloat(100 / steps) * curStep;
      percent = percent.toFixed();
      $(".progress-bar").css("width", percent + "%").html(percent + "%");
    }
  });
</script>

<!-- <script src="controllers/solicitud/solicitud-ubicacion.js"></script> -->
</body>

</html>

