  <style type="text/css">
    #registration_form .card-step:not(:first-of-type) {
      display: none;
    }
  </style>
  <div class="row title-wrapper">
    <div class="col-12 col-xl-8 mb-4 mb-xl-0 grid-margin">
      <h3 class="font-weight-bold mb-0">Solicitud de Sucursal</h3>
    </div>
  </div>
  <div class="content-wrapper register-ps">
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="container pt-4">
          <!-- <h1>Sucursal: Franquicia Y </h1> -->
          <p>
            Aquí podrá visualizar el progreso de su Solicitud de Sucursal.
          </p>
          <div class="progress progress--reg">
            <div class="progress-bar bg-secondary progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <form id="registration_form" class="forms-sample" novalidate action="action.php" method="post">
            <div class="card-step">
              <h2>Paso 1: Información Personal</h2>
              <div class="card card--orange">
                <div class="card-header">Tipo de tienda</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group d-none">
                        <label>Tipo de tienda:</label><span class="requered_class">*</span>
                        <select class="form-control input-sm notEmpty" onchange="cambia();" name="tipotienda" id="tipotienda">
                          <option value="0" selected>Seleccione...</option>
                          <option value="2">Franquicia</option>
                          <option value="1">Tienda Propia</option>
                        </select>
                      </div>
                      <div class="form-group row align-items-center">
                        <label class="col-md-2 col-form-label">Tipo de tienda:</label>
                        <div class="col-md-4">
                          <div class="radio">
                            <input label="Franquicia" type="radio" id="male" name="tipotienda" value="2" checked>
                            <input label="Tienda Propia" type="radio" id="female" name="tipotienda" value="1">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="disable" id="formulario">
                <div class="card card--orange">
                  <div class="card-header">Datos Personales</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                          <label>Nombre:</label><span class="requered_class">*</span>
                          <input class="form-control input-sm notEmpty" onkeypress="return soloLetras(event)" type="text" placeholder="Nombre (s)" name="nombre" id="nombre" required>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                          <label>A. Paterno:</label><span class="requered_class">*</span>
                          <input class="form-control input-sm notEmpty" onkeypress="return soloLetras(event)" type="text" placeholder="Apellido paterno" name="apaterno" id="apaterno" required>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                          <label>A. Materno:</label><span class="requered_class">*</span>
                          <input class="form-control input-sm notEmpty" onkeypress="return soloLetras(event)" type="text" placeholder="Apellido materno" name="amaterno" id="amaterno" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                          <label>Tel Celular:</label><span class="requered_class">*</span>
                          <input class="form-control input-sm istel" onKeyPress="return soloNum(event)" type="text" placeholder="Celular a 10 digitos obligatorio" name="cel" id="cel" maxlength="10" minlength="10" required>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                          <label>Tel Casa:</label>
                          <input class="form-control input-sm " onKeyPress="return soloNum(event)" type="text" placeholder="Número a 10 digitos obligatorio" name="tel" id="tel" maxlength="10" minlength="10" required>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                          <label>E-mail:</label><span class="requered_class">*</span>
                          <input class="form-control input-sm notEmpty" type="text" placeholder="E-mail" name="email" id="email" required>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                          <label>RFC (Solo Si Requiere Factura):</label>
                          <input class="form-control input-sm " maxlength="13" minlength="13" type="text" placeholder="RFC" onchange="ValidaRfc(this.value)" name="rfc" id="rfc" required>
                          <label id="errfc"></label>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row d-none">
                  <div class="col-md-12 col-sm-12 form-group text-right">
                    <button class="btn btn-default btn-sm" onclick="resetForm();"><i class="fa fa-user-plus"></i> limpiar campos</button>
                    <button class="btn btn-success btn-sm" onclick="checkForm();"><i class="fa fa-user-plus"></i> guardar solicitud</button>
                  </div>
                  <div class="col-md-12 col-sm-12 form-group text-right">
                    <div id="error"></div>
                  </div>
                </div>
              </div>

              <input type="button" name="data[password]" class="next btn btn-primary" value="Siguiente" />
            </div>
            <div class="card card--orange card-step">
              <h2> Paso 2: Información del Negocio / Otros</h2>
              <div class="card-header">Datos del Negocio</div>
              <div class="card-body mb-3">
                <div class="row">
                  <div class="col-md-8 col-sm-8 form-group">
                    <label>Nombre del Negocio:</label><span class="requered_class">*</span>
                    <input class="form-control input-sm notEmpty" type="text" placeholder="Nombre del Negocio" name="nnego" id="nnego" required>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Calle:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="calle" id="calle" placeholder="Calle" required>
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Num. Exterior:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="numext" id="numext" placeholder="Num. Exterior" required>
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Num. Interior:</label>
                    <input type="text" class="form-control input-sm" name="numint" id="numint" placeholder="Num. Interior">
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Colonia:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="colonia" id="colonia" placeholder="Colonia" required>
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Municipio:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="muni" id="muni" placeholder="Municipio" required>
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Ciudad:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="ciudad" id="ciudad" placeholder="Ciudad" required>
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Estado:<span class="txr">*</span>
                    </label>
                    <select class="form-control input-sm select" name="edo" id="edo">
                      <option value="" selected>Seleccione...</option>
                      <option>Aguascalientes</option>
                      <option>Baja California</option>
                      <option>Baja California Sur</option>
                      <option>Campeche</option>
                      <option>Chiapas</option>
                      <option>Chihuahua</option>
                      <option>Coahuila</option>
                      <option>Colima</option>
                      <option>Distrito Federal</option>
                      <option>Durango</option>
                      <option>Edo. México</option>
                      <option>Guanajuato</option>
                      <option>Guerrero</option>
                      <option>Hidalgo</option>
                      <option>Jalisco</option>
                      <option>Michoacan</option>
                      <option>Morelos</option>
                      <option>Nayarit</option>
                      <option>Nuevo León</option>
                      <option>Oaxaca</option>
                      <option>Puebla</option>
                      <option>Queretaro</option>
                      <option>Quintana Roo</option>
                      <option>San Luis Potosí</option>
                      <option>Sinaloa</option>
                      <option>Sonora</option>
                      <option>Tabasco</option>
                      <option>Tamaulipas</option>
                      <option>Tlaxcala</option>
                      <option>Veracruz</option>
                      <option>Yucatan</option>
                      <option>Zacatecas</option>
                    </select>
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Cod. Postal:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm iscp" name="cp" id="cp" maxlength="5" minlength="5" placeholder="Cod. Postal" onKeyPress="return soloNum(event)" required>
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Entre calle:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="ecalle" id="ecalle" placeholder="Primer calle">
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Y calle:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="ycalle" id="ycalle" placeholder="Segunda calle">
                  </div>
                </div>
              </div>
              <div class="card-header disable" id="otros">Otros datos</div>
              <div class="card-body disable" id="otros2">
                <div class="row">
                  <div class="col-md-12 col-sm-12 form-group alert alert-warning">En caso de no encontrar la plaza o la fuerza de venta seleccione la opción “Capturar manualmente” que se encuentra centro de su respectiva lista para poder agregar manualmente el campo correspondiente.</div>
                </div>
                <div class="row">
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Plaza:<span class="txr">*</span>
                    </label>
                    <select class="form-control input-sm select" onchange="checkPlz();" name="plaza" id="plaza">
                      <option value="" selected>Seleccione...</option>
                      <option value="manual">Capturar manualmente</option>
                    </select>
                    <input type="text" class="form-control input-sm disable" name="plaza1" id="plaza1" placeholder="Ingrese la plaza">
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Fuerza de venta:<span class="txr">*</span>
                    </label>
                    <select class="form-control input-sm select" onchange="checkFza();" name="fuerza" id="fuerza">
                      <option value="" selected>Seleccione...</option>
                      <option value="manual">Capturar manualmente</option>
                    </select>
                    <input type="text" class="form-control input-sm disable" name="fuerza1" id="fuerza1" placeholder="Ingrese Fuerza de venta">
                  </div>
                  <div class="col-md-4 col-sm-6 form-group">
                    <label>Nivel:<span class="txr">*</span>
                    </label>
                    <select class="form-control input-sm select" name="nivel" id="nivel">
                      <option value="" selected>Seleccione...</option>
                      <option value="Dueno">Dueño</option>
                      <option value="Vendedor">Vendedor</option>
                      <option value="Encargado">Encargado</option>
                      <option value="Bodega">Bodega</option>
                      <option value="Gerente">Gerente</option>
                      <option value="Cajero">Cajero</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- <div class="card-footer"> -->
                <input type="button" name="previous" class="previous btn btn-info" value="Previo" />
                <input type="button" name="next" class="next btn btn-primary" value="Siguiente" />
              <!-- </div> -->
            </div>
            <div class="card card--orange card-step">
              <h2> Paso 3: Información de ubicación</h2>
              <div class="card-header">Descripción de la Ubicación</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-sm-12 form-group">
                    <label>Descripción:</label>
                    <textarea class="form-control input-sm" name="dubic" id="dubic"></textarea>
                  </div>
                </div>
              </div>
              <div id="tipomod" class="disable">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-4 col-sm-6 form-group">
                      <label>Tipo de Franquicia:</label>
                      <select class="form-control input-sm select" name="modalidad" id="modalidad">
                        <option value="" selected>Seleccione...</option>
                        <option value="1">Franquicia Completa</option>
                        <option value="2">Franquicia Intermedia</option>
                        <option value="3">Franquicia Informal</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-header">Observaciones o Comentarios</div>
              <div class="card-body">
                <div class="row hide" id="asignarVendedor">
                  <div class="col-xs-4">
                    <div class="form-group">
                      <label>Vendedor de ruta:</label>
                      <select class="form-control input-sm" name="infoVendedor" id="infoVendedor">
                        <option value="" selected>Seleccione...</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-sm-12 form-group">
                    <label>Observaciones:</label>
                    <textarea class="form-control input-sm" name="obs" id="obs"></textarea>
                  </div>
                </div>
              </div>
              <!-- <div class="card-footer"> -->
                <input type="button" name="previous" class="previous btn btn-info" value="Previo" />
                <input type="button" name="next" class="next btn btn-primary" value="Siguiente" />
              <!-- </div> -->
            </div>
            <div class="card card--orange card-step">
              <h2>Paso 4: Información de la franquicia</h2>
              <div class="card-header">Tipo Franquicia</div>
              <div class="card-body">
                <div class="form-group row align-items-center">
                  <label class="col-md-2 col-form-label">Tipo de tienda:</label>
                  <div class="col-md-8">
                    <div class="radio">
                      <input label="Express" type="radio" id="male" name="tipFranquicia" value="1" checked>
                      <input label="Oro" type="radio" id="female" name="tipFranquicia" value="2">
                      <input label="Platinum" type="radio" id="female" name="tipFranquicia" value="3">
                      <input label="Diamante" type="radio" id="female" name="tipFranquicia" value="4">
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-header">Datos del registro</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label>Fecha:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="datereg" id="datereg" placeholder="21-06-21">
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Nombre del asesor que realizó el registro:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="nomases" id="nomases" placeholder="Asesor ausente">
                  </div>
                </div>
              </div>
              <div class="card-header">Datos Inversión</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label>Remodelación:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="remod" id="remod" placeholder="$20,000.00">
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Equipamiento:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="equip" id="equip" placeholder="$14,000.00">
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Gastos administrativos:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="gadmin" id="gadmin" placeholder="$6,000.00">
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Inventario inicial:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="invini" id="invini" placeholder="$2,000.00">
                  </div>
                </div>
              </div>
              <div class="card-header">Descuentos y límites autorizados</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label>Descuento en recargas:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="descrec" id="descrec" placeholder="$20,000.00">
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Cargos por pagos de servicios:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="cargservs" id="cargservs" placeholder="$14,000.00">
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Costo de chip 50:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="chipcost" id="chipcost" placeholder="$6,000.00">
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Límites de crédito autorizado:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="limcred" id="limcred" placeholder="$2,000.00">
                  </div>
                  <div class="col-md-6 form-group">
                    <label>Horarios de servicio de samtec para seguridad:<span class="txr">*</span>
                    </label>
                    <input type="text" class="form-control input-sm notEmpty" name="horaSam" id="horaSam" placeholder="$2,000.00">
                  </div>
                </div>
              </div>
              <!-- <div class="card-footer"> -->
                <input type="button" name="previous" class="previous btn btn-info" value="Previo" />
                <input type="button" name="next" class="next btn btn-primary" value="Siguiente" />
              <!-- </div> -->
            </div>
            <div class="card card--orange card-step">
              <h2>Paso 4: Documentación a Anexar</h2>
              <div class="card-header">Documentos</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="card-body">
                      <h4 class="card-title">Lista de Documentación</h4>
                      <div class="list-wrapper">
                        <ul class="d-flex flex-column todo-list doc-list">
                          <li>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="checkbox" type="checkbox">Identificación oficial vigente  <i class="input-helper"></i>
                              </label>
                            </div>
                          </li>
                          <li class="completed">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="checkbox" type="checkbox" checked="">Comprobante de domicilio del local donde estará ubicado el PDV: antigüedad no mayor a 3 meses.  <i class="input-helper"></i>
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="checkbox" type="checkbox">Comprobante de domicilio particular (antigüedad no mayor a 3 meses luz, agua, etc).  <i class="input-helper"></i>
                              </label>
                            </div>
                          </li>
                          <li class="completed">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="checkbox" type="checkbox" checked="checked">Cuenta bancaria a nombre del franquiciatario y carátula del estado de cuenta.  <i class="input-helper"></i>
                              </label>
                            </div>
                          </li>
                          <li class="completed">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="checkbox" type="checkbox" checked="">RFC (Registro Federal de Contribuyentes) <i class="input-helper"></i>
                              </label>
                            </div>
                          </li>
                          <li>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input class="checkbox" type="checkbox"checked="">Boucher de depósito o comprobante de transferencia <i class="input-helper"></i>
                              </label>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-header">Gastos fijos</div>
              <div class="card-body">
                <h4 class="card-title">Detalle de Gastos Fijos</h4>
                <p class="card-description">
                  COMENTARIOS <code>COMENTARIOS RESPECTO DE LAS CONDICIONES ACTUALES DE LOS SERVICIOS</code>
                </p>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>
                          SERVICIO
                        </th>
                        <th>
                          ESTADO ACTUAL
                        </th>
                        <th>
                          DADO DE ALTA A NOMBRE DE
                        </th>
                        <th>
                          GASTO MENSUAL
                        </th>
                        <th>
                          COMENTARIOS
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="py-1">
                          LUZ
                        </th>
                        <td>
                          Suspendido
                        </td>
                        <td>

                        </td>
                        <td>
                          $ 250.00
                        </td>
                        <td>
                          En proceso de activación
                        </td>
                      </tr>
                      <tr>
                        <th class="py-1">
                          AGUA
                        </th>
                        <td>
                          Suspendido
                        </td>
                        <td>
                        </td>
                        <td>
                          $ 400.00
                        </td>
                        <td>
                          Sin comentarios
                        </td>
                      </tr>
                      <tr>
                        <th class="py-1">
                          TELÉFONO FIJO
                        </th>
                        <td>
                          Activo
                        </td>
                        <td>
                        </td>
                        <td>
                          $ 500.00
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <th class="py-1">
                          CELULAR
                        </th>
                        <td>
                          Activo
                        </td>
                        <td>
                        </td>
                        <td>
                          $ 400.00
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <th class="py-1">
                          RENTA
                        </th>
                        <td>
                          Activo
                        </td>
                        <td>
                        </td>
                        <td>
                          $ 1400, 000.00
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <th class="py-1">
                          GERENTE
                        </th>
                        <td>
                          Activo
                        </td>
                        <td>
                        </td>
                        <td>
                          $ 5,500.00
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <th class="py-1">
                          ENCARGADOS
                        </th>
                        <td>
                          Activo
                        </td>
                        <td>
                        </td>
                        <td>
                          $ 4,400.00
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <th class="py-1">
                          OTROS GASTOS
                        </th>
                        <td>
                          Activo
                        </td>
                        <td>
                        </td>
                        <td>
                          $ 400.00
                        </td>
                        <td></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th class="py-1" colspan="4">
                          TOTAL
                        </th>
                        <th>$25,750.00</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
              <input type="button" name="previous" class="previous btn btn-info" value="Previo" />
              <input type="submit" name="submit" class="submit btn btn-success" value="Enviar" id="submit_data" />
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

<script>
  $(document).ready(function () {
    var current = 1,
      current_step, next_step, steps;
    steps = $(".card-step").length;
    $(".next").click(function () {
      current_step = $(this).parent();
      next_step = $(this).parent().next();
      next_step.show();
      current_step.hide();
      setProgressBar(++current);
    });
    $(".previous").click(function () {
      current_step = $(this).parent();
      next_step = $(this).parent().prev();
      next_step.show();
      current_step.hide();
      setProgressBar(--current);
    });
    setProgressBar(current);
    // Change progress bar action
    function setProgressBar(curStep) {
      var percent = parseFloat(100 / steps) * curStep;
      percent = percent.toFixed();
      $(".progress-bar").css("width", percent + "%").html(percent + "%");
    }
  });
</script>
