
  <div class="row title-wrapper">
    <div class="col-12 col-xl-8 mb-4 mb-xl-0 grid-margin">
      <h3 class="font-weight-bold mb-0">Lista de Solicitudes</h3>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 mt-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title m-0">Solicitudes</h4>
          </div>
          <div class="card-body">
            <nav>
              <div class="nav nav-tabs nav nav-pills" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-nuevas-tab" data-toggle="tab" href="#nav-nuevas" role="tab" aria-controls="nav-nuevas" aria-selected="true">Nuevas</a>
                <a class="nav-link" id="nav-enproceso-tab" data-toggle="tab" href="#nav-enproceso" role="tab" aria-controls="nav-enproceso" aria-selected="false">En proceso</a>
                <a class="nav-link" id="nav-completadas-tab" data-toggle="tab" href="#nav-completadas" role="tab" aria-controls="nav-completadas" aria-selected="false">Completadas</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-nuevas" role="tabpanel" aria-labelledby="nav-nuevas-tab">
                <div class="table-responsive">
                  <table id="" class="table table-striped">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th># Celular</th>
                        <th>E-mail</th>
                        <th>Fecha registro</th>
                        <th>Estatus</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Ramón Flores Sanchéz</td>
                        <td>2223776688</td>
                        <td>rflores23@gmail.com</td>
                        <td>05-15-2021</td>
                        <td><label class="badge badge-primary">Nuevo</label></td>
                        <td>
                          <a href="views/admin/actions/ver-info.html" class="btn btn-primary btn-action pageto" title="Ver Informacion"><i class="ti-id-badge"></i></a>
                          <a href="views/admin/actions/editar-info.html" class="btn btn-warning btn-action pageto" title="Editar Informacion"><i class="ti-pencil-alt"></i></a>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-enproceso" role="tabpanel" aria-labelledby="nav-enproceso-tab">...</div>
              <div class="tab-pane fade" id="nav-completadas" role="tabpanel" aria-labelledby="nav-completadas-tab">...</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
        
  <script>
    (function($) {
      'use strict';
      $(function() {
        $('#mis-pagos').DataTable({
          "iDisplayLength": 10,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
          }
        });
      });
    })(jQuery);
  </script>

