
        
  <div class="row title-wrapper">
    <div class="col-12 col-xl-8 mb-xl-0">
      <h3 class="font-weight-bold mb-2">Historial de la solicitud</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="views/admin/lista-solicitudes.html" class="pageto">Solicitudes</a></li>
          <li class="breadcrumb-item active" aria-current="page">Estatus de la solicitud</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 mt-4">
        <div class="card mb-3">
          <div class="card-header">
            Información Prospecto
          </div>
          <div class="card-body">

            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <tbody>
                  <tr>
                    <td>Nombre</td>
                    <td>Oscar Rosas</td>
                  </tr>
                  <tr>
                    <td>Estatus</td>
                    <td><label class="badge badge-warning">En Proceso</label></td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            Lista de comentarios
          </div>
          <div class="card-body">

            <div class="mt-3">
              <div class="timeline">
                <div class="timeline-wrapper timeline-wrapper-bgsel">
                  <div class="timeline-badge"></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Vendedor A</h6>
                    </div>
                    <div class="timeline-body">
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem reprehenderit laborum vitae nam sequi veniam sunt, est voluptatibus laboriosam illo, odit labore fugiat? Quibusdam ea vitae, est enim minima ipsam.</p>
                    </div>
                    <div class="timeline-footer d-flex align-items-center flex-wrap">

                      <span class="ml-md-auto font-weight-bold">10-07-2021</span>
                    </div>
                  </div>
                </div>
                <div class="timeline-wrapper timeline-inverted timeline-wrapper-bgadmin">
                  <div class="timeline-badge"></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h6 class="timeline-title">Gerente X</h6>
                    </div>
                    <div class="timeline-body">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo perferendis labore velit doloremque ex facere iure. Explicabo architecto dolores, delectus velit modi, repellendus dolor commodi rem dignissimos corrupti, sit magnam.</p>
                    </div>
                    <div class="timeline-footer d-flex align-items-center flex-wrap">
                      <span class="ml-md-auto font-weight-bold">10-07-2021</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
