
  <div class="row title-wrapper">
    <div class="col-12 col-xl-8 mb-xl-0">
      <h3 class="font-weight-bold mb-2">Horario Samtec</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="views/admin/lista-solicitudes.html" class="pageto">Solicitudes</a></li>
          <li class="breadcrumb-item active" aria-current="page">Horario Samtec</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content-wrapper register-ps">
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
       
        <div class="card mt-4">
          <div class="card-header">
            Horario
          </div>
          <div class="card-body">

            <p class="card-description">
              Ingresa el horario correspondiente.
            </p>
            <div class="table-responsive hg-tb">
              <form action="" id="samtec-hr" >
                <div class="table table-sc table-hover schedule-table table-sm">
                  <div class="heading">
                    <div class="trow">
                      <div class="cell text-left">Día</div>
                      <div class="cell">Domingo</div>
                      <div class="cell">Lunes</div>
                      <div class="cell">Martes</div>
                      <div class="cell">Miércoles</div>
                      <div class="cell">Jueves</div>
                      <div class="cell">Viernes</div>
                      <div class="cell">Sábado</div>
                    </div>
                  </div>

                  <div class="forms-sample tbody">
                    <div class="trow">
                      <div class="cell">
                        Inicio:
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario1" data-target-input="nearest">
                          <div class="input-group" data-target="#horario1" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario1" data-target="#horario1" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario2" data-target-input="nearest">
                          <div class="input-group" data-target="#horario2" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario2" data-target="#horario2" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario3" data-target-input="nearest">
                          <div class="input-group" data-target="#horario3" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario3" data-target="#horario3" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario4" data-target-input="nearest">
                          <div class="input-group" data-target="#horario4" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario4" data-target="#horario4" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario5" data-target-input="nearest">
                          <div class="input-group" data-target="#horario5" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario5" data-target="#horario5" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario6" data-target-input="nearest">
                          <div class="input-group" data-target="#horario6" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario6" data-target="#horario6" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario7" data-target-input="nearest">
                          <div class="input-group" data-target="#horario7" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario7" data-target="#horario7" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="trow">
                      <div class="cell">
                        Fin:
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario11" data-target-input="nearest">
                          <div class="input-group" data-target="#horario11" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario11" data-target="#horario11" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario12" data-target-input="nearest">
                          <div class="input-group" data-target="#horario12" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario12" data-target="#horario12" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario13" data-target-input="nearest">
                          <div class="input-group" data-target="#horario13" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario13" data-target="#horario13" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario14" data-target-input="nearest">
                          <div class="input-group" data-target="#horario14" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario14" data-target="#horario14" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario15" data-target-input="nearest">
                          <div class="input-group" data-target="#horario15" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario15" data-target="#horario15" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario16" data-target-input="nearest">
                          <div class="input-group" data-target="#horario16" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario16" data-target="#horario16" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                      <div class="cell">
                        <div class="input-group date" id="horario17" data-target-input="nearest">
                          <div class="input-group" data-target="#horario17" data-toggle="datetimepicker">
                            <input type="text" class="form-control datetimepicker-input fclock" name="horario17" data-target="#horario7" placeholder="10:37 AM" autocomplete="off">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col py-3 text-center">
                    <button type="" class="btn btn-info"><i class="ti-check mr-2"></i>Autorizar</button>
                    <button type="" class="btn btn-danger"><i class="ti-close mr-2"></i>No Autorizar</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


<script>
  let numClocks = $('.date .fclock').length;

  for (let cl = 0; cl < numClocks; cl++) {
   
      $('#horario'+(cl+1)).datetimepicker({
        format: 'LT'
      });
  }

</script>


