
  <div class="row title-wrapper">
    <div class="col-12 col-xl-8 mb-4 mb-xl-0 grid-margin">
      <h3 class="font-weight-bold mb-0">Bienvenido Andrés</h3>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 mt-4">
        <form class="repeater">
          <div class="card card--orange" data-repeater-list="group-a">
              <div data-repeater-item class="d-flex mb-2 card-body">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="pago">Pago: </label>
                    <input type="text" class="form-control" id="pago" placeholder="Servicio x">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="cantidad">Cantidad: </label>
                    <input type="text" class="form-control" id="cantidad" placeholder="$ 4,200.00">
                  </div>
                  <div class="form-group col-md-6">
                    <!-- <label for="poc">Tipo pago: </label> -->
                    <div class="form-group inline">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="">Pago <i class="input-helper"></i>
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2" checked="">Crédito <i class="input-helper"></i>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="formap">Forma de pago: </label>
                    <select class="form-control" id="formap">
                      <option>efectivo</option>
                      <option>transferencia</option>
                      <option>depósito</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="fepago">Fecha de pago: </label>
                    <input type="text" class="form-control" id="fepago" placeholder="13-06-2021">
                  </div>
                </div>

                <button data-repeater-delete type="button" class="btn btn-danger btn-icon ml-2" ><i class="ti-trash"></i> </button>
              </div>
          </div>
          <button data-repeater-create type="button" class="btn btn-success btn-icon mb-2"><i class="ti-plus"></i></button>

          <div class="form-group mt-3 justify-content-center">
            <div class="col-md-5">
              <button class="btn btn-primary d-block" type="submit">Guardar</button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>


<script>
  $('.repeater').repeater({
    defaultValues: {
      'text-input': 'foo'
    },
    show: function() {
      $(this).slideDown();
    },
    hide: function(deleteElement) {
      if (confirm('Are you sure you want to delete this element?')) {
        $(this).slideUp(deleteElement);
      }
    },
    isFirstItemUndeletable: true
  });
</script>
