  <div class="row title-wrapper">
    <div class="col-12 col-xl-8 mb-4 mb-xl-0 grid-margin">
      <h3 class="font-weight-bold mb-2">Ver Información</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="views/admin/lista-solicitudes.html" class="pageto">Solicitudes</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ver información</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="content-wrapper register-ps">
    <div class="row">
      <div class="col-12 grid-margin">

        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-info1-tab" data-toggle="tab" href="#nav-info1" role="tab" aria-controls="nav-info1" aria-selected="true">Home</a>
            <a class="nav-link" id="nav-info2-tab" data-toggle="tab" href="#nav-info2" role="tab" aria-controls="nav-info2" aria-selected="false">Profile</a>
            <a class="nav-link" id="nav-info3-tab" data-toggle="tab" href="#nav-info3" role="tab" aria-controls="nav-info3" aria-selected="false">Contact</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-info1" role="tabpanel" aria-labelledby="nav-info1-tab">...</div>
          <div class="tab-pane fade" id="nav-info2" role="tabpanel" aria-labelledby="nav-info2-tab">...</div>
          <div class="tab-pane fade" id="nav-info3" role="tabpanel" aria-labelledby="nav-info3-tab">...</div>
        </div>

      </div>
    </div>

  </div>

