$orange-card: #f78f01;
$orange-color-card: #f1ffff;

.card {
	border-radius: 0.8rem;
	// background-color: transparent;
	.card-header {
		border-top-right-radius: 0.8rem;
		border-top-left-radius: 0.8rem;
		font-weight: 500;
		
	}
	.card-title {
		color: #585654;
	}
	.card-body {
		// background-color: #FEFFFF;
		border-bottom-right-radius: 0.8rem;
		border-bottom-left-radius: 0.8rem;
		margin-bottom: 0.8rem;
	}
	&--section {
		background-color: #FEFFFF;
		.card-header {
			background-color: #1e2f91;
			color: #f1f1f1;
			font-weight: 600;
			font-size: 1rem;
			padding: 0.5rem 1.25rem;

		}
		.card-body {
			background-color: #FEFFFF;
		}
	}
	&--orange {
		margin-bottom: 1rem;
		background-color: transparent;
		.card-header {
			background-color: $orange-card;
			color: $orange-color-card;
			.card-title {
				color: #f1f1f1;
				font-weight: 600;
				font-size: 1rem;
				margin: 0;
			}
		}
		.card-body {
			background-color: #FEFFFF;
			margin-bottom: 0.8rem;
			border-bottom-right-radius: 0.8rem;
			border-bottom-left-radius: 0.8rem;
		}
	}
	&--inverse-s {
		background: rgba(163, 164, 165, 0.2);
	    border: 1px solid #d5d5d6;
	    color: #4a4949;
	    padding: 1rem !important;
	    margin-bottom: 0.8rem;
	    h5 {
				font-size: 1rem;
				font-weight: 600;
				margin-bottom: .9rem;
				color: #1e2f91;
	    }
	    label {
	    	color: #4a4949;
	    }
	    .input-group {
	    	.input-group-text {
	    		color: #797471;
	    	}
	    }
	}
	&--inverse-w {
		border: 1px solid #d5d5d6;
		color: #4a4949;
	    padding: 1rem !important;
	    margin-bottom: 0.8rem;
	    h5 {
				font-size: 1rem;
				font-weight: 600;
				margin-bottom: .9rem;
				color: #1e2f91;
	    }
	    .input-group {
	    	.input-group-text {
	    		color: #797471;
	    	}
	    }
	}
}