.ajax-upload-dragdrop {
	vertical-align: top; width: 400px;
	.ajax-file-upload {
		position: relative;
		overflow: hidden;
		cursor: default;
		.form-upl {
			margin: 0px;
			padding: 0px;
			input[type="file"] {
				position: absolute;
				cursor: pointer;
				top: 0px;
				width: 100%;
				height: 100%;
				left: 0px;
				z-index: 100;
				opacity: 0;
			}
		}
	}
}

.disable-form {
	.form-control {
		&:focus {
			border: 0;
		}
	}
}