$navssm: '.navssm';

#{$navssm}{
	&__sem {
		.nav-tabs {
			justify-content: center;
		}
		.nav-link {
			border-radius: .8rem;
			margin: 0.3rem 0.4rem;
			&.active {
				background-color: $sidebar-dark-menu-active-bg;
				color: #f1ffff;
			}
		}
		&.nav-small {
			.nav-link {
				font-size: 0.8rem;
				margin: 0.2rem;
				.ti-checked {
					color: #a5a4a4;
				}
			}
			.completed {
				.ti-check {
					background-color: #5368de;
					color: #f1f1f1;
					font-weight: 700;
					padding: 0.4rem;
					border-radius: 50%;
				}
			}
		}
	}
	&__content {

	}
}

.nav-pills {
	.nav-link {
		&.active {
			background-color: #1e2f91;
		}
	}
}

.nav-register {
	
	.nav-link {
		font-weight: 500;
		&.active {
			background-color: $sidebar-dark-menu-active-bg;
			color: #f1f1f1;
		}	
	}
}
